@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../../node_modules/bulma/bulma";
@import '../../node_modules/vue-image-lightbox/dist/vue-image-lightbox.min.css';

body, html {
    background-color: #f4f4f4;
}

#group-pagination {
    margin: 1ex 0ex;
}

nav.navbar-main {
    display: flex;
    background-color: #f0f0f0 !important;
    border-bottom: solid 1px #dddddd;

    .navbar-elem {
        margin: auto 1ex;
    }
}

.life-comment {
    margin-bottom: 0.1rem !important;

    .message-body {
        padding: 0.5rem;
        min-height: 64px; /* avatar size */
    }

    .comment-meta {
        font-size: 80%;
    }
}

.comment-writing {
    display: flex;

    .comment-textarea {
        flex-grow: 1;
    }
}

.life-comment,.media + .media {
    margin-top: 0px;
    padding-top: 0px;
}

.group-content {

    padding: 1em;

    .card {
        margin-top: 1ex;
        border-radius: 3px;

        .content {
            font-size: 110%;
        }

        .textarea {
            padding-top: 0.1ex;
            padding-bottom: 0.1ex;
        }
    }

    .card-footer {
        border-top: 0 !important;
    }

    .card-footer a {
        color: #222222;
        font-size: 90%;
        margin: 2px;
        padding-left: 1.5rem;
    }

}

.avatar {
    img {
        border-radius: 4px;
    }
}

.rainbow-edge0 {
    box-shadow: 0 2px 6px rgba(255, 0, 0, 0.18), 0 0 0 1px rgba(255, 224, 0, 0.28);
}

.rainbow-edge1 {
    box-shadow: 0 2px 6px rgba(0, 255, 0, 0.18), 0 0 0 1px rgba(0, 224, 0, 0.28);
}

.rainbow-edge2 {
    box-shadow: 0 2px 6px rgba(0, 0, 255, 0.18), 0 0 0 1px rgba(0, 0, 224, 0.28);
}

.rainbow-edge3 {
    box-shadow: 0 2px 6px rgba(255, 255, 0, 0.18), 0 0 0 1px rgba(255, 224, 0, 0.28);
}

.rainbow-edge4 {
    box-shadow: 0 2px 6px rgba(0, 255, 255, 0.18), 0 0 0 1px rgba(0, 255, 224, 0.28);
}

.rainbow-edge5 {
    box-shadow: 0 2px 6px rgba(255, 0, 255, 0.18), 0 0 0 1px rgba(255, 0, 224, 0.28);
}

.vue-lb-info {
    position: static !important;
}

img.vue-lb-modal-image {
    image-orientation: from-image;
}

.rotating {
    animation: rotation 4s linear infinite;
}

#videobox {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0px;
    background-color: #777777;
    color: white;
}

#uploadbox > * {
    margin-bottom: 2ex;

}
#uploadbox .h2 {
    display: block;
    font-size: 130%;
    font-weight: bold;
}

@keyframes rotation {
    100% { transform: rotate(360deg); }
}

.bgprocess {
    display: none;
    image-orientation: from-image;
}

.overlaycont {
    position: relative;
}

.overlaycont:hover .videoverlay {
    visibility: hidden;
}

.videoverlay {
    font-weight: bold;
    font-size: 400%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #ffef0042;
    color: #ff9a2f;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 0.24em 0.2em 0.2em 0.66em;
}
